@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Changed overflow-hidden to overflow-x-hidden to allow vertical scrolling */
    @apply bg-[#FDFCF8] text-stone-800 overflow-x-hidden;
    font-family: 'DM Sans', sans-serif;
  }
}

/* Custom Cursor Styles if needed, though we are mostly using default/pointer */
.cursor-wand {
  cursor: url('https://www.dropbox.com/scl/fi/mjoqos4tnhhibhi1frqx4/envato-labs-image-edit-21.webp?rlkey=ti7sc2d1p2msaax7603vii4ft&st=zbgz08ef&dl=1'), auto;
}
